body {
	overflow: hidden;
}

.command-list {
	width: 240px;
	height: 100vh;
	position: absolute;
	background: #f0f0f0;
	top: 0;
	right: 0;
	padding: 30px;
	padding-bottom: 60px;
	font-family: 'Futura';
	font-size: 18px;
	overflow-y: scroll;
} .command-list p {
	font-size: 14px;
}

.app-container {
	width: 500px;
	height: 500px;
	//background: red;
	margin: 0 auto;
	margin-top: 120px;
	position: relative;
}

.eye {
	position: absolute;
	width: 60px;
	height: 140px;
	background: black;
	top: 80px;
	left: 120px;
	transform: scale(1,1);
	transition: width 150ms ease,
		height 150ms ease,
		left 150ms ease,
		top 150ms ease;
} .eye.right {
	left: 320px;
} .eye.blink {
	animation-name: blink;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1, 0, 0, 1);
	animation-direction: normal;
	animation-fill-mode: forwards;
} .eye.blink-fast {
	animation-name: blink-fast !important;
	animation-duration: 8s !important;
} .eye.blink-twice {
	animation-name: blink-twice !important;
	animation-duration: 6s !important;
}

.eye.smile {
	width: 75px;
	height: 120px;
	top: 90px;
	left: 112.5px;
	transition: width 150ms ease,
		height 150ms ease,
		left 150ms ease,
		top 150ms ease;
} .eye.right.smile {
	left: 312.5px;
}

.eye.frown {
	width: 75px;
	height: 120px;
	top: 90px;
	left: 112.5px;
	transition: width 150ms ease,
		height 150ms ease,
		left 150ms ease,
		top 150ms ease;
} .eye.right.frown {
	left: 312.5px;
}

.mouth:before {
	/*width: 360px;
	height: 30px;
	background: black;
	position: absolute;
	top: 365px;
	left: 70px;
	*/
	width: 290px;
	height: 240px;
	content: '';
	position: absolute;
	border-bottom: 30px solid black;
	border-right: none;
	border-top: none;
	bottom: 120px;
	left: 105px;
	transition: width 300ms ease, 
		left 600ms ease, 
		border-top-color 0s,
		border-right-color 0s;
}

.mouth.smile:before {
	width: 240px;
	bottom: 40px;
	left: 120px;
	border-bottom: 28px solid black;
	border-left: 28px solid black;
	border-radius: 0px 2000px;
	border-top-color: transparent;
	border-right-color: transparent;
	transform: rotate(-45deg);
	transition: width 300ms ease, 
		left 600ms ease, 
		border-top-color 0s, 
		border-right-color 0s;
} 

.mouth.frown:before {
	width: 240px;
	bottom: -40px;
	left: 120px;
	border-bottom: 28px solid black;
	border-left: 28px solid black;
	border-radius: 0px 2000px;
	border-top-color: transparent;
	border-right-color: transparent;
	transform: rotate(-225deg);
	transition: width 300ms ease, 
		left 600ms ease, 
		border-top-color 0s, 
		border-right-color 0s;
}

@keyframes blink {
	0% {
		transform: scale(1,1);
	}

	90% {
		transform: scale(1,1);
	} 94% {
		transform: scale(1,0.03);
	} 100% {
		transform: scale(1,1);
	}
}

@keyframes blink-fast {
	0% {
		transform: scale(1,1);
	}

	95% {
		transform: scale(1,1);
	} 97.5% {
		transform: scale(1,0.03);
	} 100% {
		transform: scale(1,1);
	}
}

@keyframes blink-twice {
	0% {
		transform: scale(1,1);
	}

	70% {
		transform: scale(1,1);
	} 72.5% {
		transform: scale(1,0.03);
	} 75% {
		transform: scale(1,1);
	}

	75% {
		transform: scale(1,1);
	} 79% {
		transform: scale(1,0.03);
	} 83% {
		transform: scale(1,1);
	}
}

@keyframes speak-down {
    0% {
        border-bottom-width: 30px;
        border-left-width: 30px;
    }

    50% {
        border-bottom-width: 42px;
        border-left-width: 42px;
    }

    100% {
        border-bottom-width: 30px;
        border-left-width: 30px;
    }
}

@keyframes speak-up {
    0% {
        border-bottom-width: 30px;
        border-left-width: 30px;
    }

    50% {
        border-bottom-width: 12px;
        border-left-width: 12px;
    }

    100% {
        border-bottom-width: 30px;
        border-left-width: 30px;
    }
}

.mouth.speak-down:before {
    animation-name: speak-down !important;
    animation-duration: 220ms !important;
    animation-iteration-count: 1;
} .mouth.speak-up:before {
    animation-name: speak-up !important;
    animation-duration: 220ms !important;
    animation-iteration-count: 1;
}